.titleh1,
h6 {
  font-family: "Days One", sans-serif;
  color: white;
  font-size: 250%;
  text-align: left !important;
}
.lineUp {
  animation: 3s anim-lineUp ease-out;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.adtitle{
  max-width: 250px!important;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  color: white;
}
.nev {
  max-width: 200px !important;
  padding: 10px;
  color: white;
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.4);
  margin-left: -16px;
  margin-top: -16px !important;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
}
.title {
  margin-bottom: 50px;
}
h1 {
  padding-top: 30px !important;
}
@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
Form {
  color: black;
  background-color: white;
}
.reglogpanel {
  margin-top: 80px;
  display: flex;
  justify-content: center;
}
.bg {
  background-color: dodgerblue;
  margin-top: -5px !important;
}
.footerlogo {
  width: 30px !important;
  height: 30px !important;
  margin-right: 10px !important;
}
.panelek {
  margin-top: 100px !important;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  margin-bottom: 100px;
  /*min-width: 1300px;!!!!!!!!!!!!!!!!!!!   */ /*2soros=850px 1soros=900px*/
}

 
.panel {
  background-color: #ffffff;
  color: black;
  cursor: pointer;
  margin: 15px;
  box-shadow: 0px 0px 20px 10px rgba(255, 255, 255, 0.2);
}
.datum {
  opacity: 75%;
  text-align: right;
}
.legorduloelemek {
  border-radius: 30px !important;
}
.ad {
  background-color: white;
  color: black;
  border-radius: 15px;
  max-width: 750px;
  padding: 0px!important;
  margin-left: 5px!important;
  margin-right: 5px!important;
}
.hely {
  padding-right: 2px;
  padding-left: 2px;
}
.talalat {
  max-width: 150px;
  margin-right: 10px !important;
}
.hirdetoszoveg {
  text-align: justify;
}
.tartalom {
  max-width: 750px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 700px) {
  .loginregister {
    width: 60%;
    height: 40%;
    display: flex;
    justify-content: center;
  }
}
@media only screen and (max-width: 767px) {
  .col-md-4 {
    width: 60%;
    height: 40%;
    display: flex;
    justify-content: center;
    margin: 10px;
  }
}
@media only screen and (max-width: 1025px) {
  .panelek {
    margin-top: 0px!important;
  }
}
@media only screen and (max-width: 426px) {
  .panelek {
    margin-bottom: 120px!important;
  }
  .titleh1{
    text-align: center !important;
    font-size: 200%!important;
  }
  .welcomefooter{
    margin-top: 15px!important;
  }
  .social{
    margin-bottom: 15px!important;
  }
}
@media only screen and (max-width: 321px) {
  .titleh1{
    font-size: 180%!important;
  }
  .loginregister{
    margin-left: -10px!important;
  }
}
@media only screen and (max-width: 426px) {
  .aduploadpanel {
    margin-bottom: 125px !important;
  }
}
@media only screen and (max-width: 426px) {
  .talalat {
    margin-top: 10px!important;
  }
}
@media only screen and (min-width: 767px) {
  .end {
    display: flex;
    justify-content: end;
  }
}
@media only screen and (max-width: 767px) {
  footer {
    height: 122px;
  }
}
.aduploadpanel{
  margin-top: -50px!important;
}
.hirdetesfel {
  margin-bottom: 310px;
}

.kitoltes {
  padding-bottom: 300px;
  padding-right: 70px;
  width: 270px;
}
.register {
  background-image: url("../public/register.png");
  background-size: cover;
}
.login {
  background-image: url("../public/login.jpg");
  background-size: cover;
}
.epitoipar {
  /*background-image: url("../src/components/image/epitoipar.jpg");*/
  background-position: center;
  background-size: 280px;
  padding-right: 115px !important;
  background-repeat: no-repeat;
}
.vendeglatas {
  /*background-image: url("../src/components/image/vendeglatas.jpg");*/
  background-position: center;
  background-size: 330px;
  padding-right: 70px !important;
  background-repeat: no-repeat;
}
.logisztika {
  /*background-image: url("../src/components/image/logisztika.jpg");*/
  background-position: center;
  background-size: 310px;
  padding-right: 100px !important;
  background-repeat: no-repeat;
}
.egeszsegugy {
  /*background-image: url("../src/components/image/egeszsegugy.jpg");*/
  background-position: center;
  background-size: 310px;
  padding-right: 65px !important;
  background-repeat: no-repeat;
}
.magan {
  background-image: url("../src/components/image/magan.jpg");
  background-position: center;
  background-size: 310px;
  padding-right: 65px !important;
  background-repeat: no-repeat;
}
.ceg {
  background-image: url("../src/components/image/ceg.jpg");
  background-position: center;
  background-size: 310px;
  padding-right: 65px !important;
  background-repeat: no-repeat;
}
.sitetitle {
  background-color: #2667ff;
  border: 5px solid white;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px;
  margin-bottom: 50px;
  margin-top: 75px!important;
}
.cimke {
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  margin-left: 115px!important;
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.4);
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 25px;
  font-family: "Days One", sans-serif;
  font-size: 15px;
}
.logo {
  max-width: 30px;
  max-height: 30px;
}

.container {
  margin-top: 60px;
}
.fa-brands {
  margin-top: 15px;
  margin-right: 25px;
}

Form {
  max-width: 500px !important;
}
.bejelentkezes {
  height: 40px !important;
  width: 350px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.homekateg {
  color: white;
  margin-top: -5px;
}
.aboutfooter {
  margin-bottom: 150px !important;
}
.nofixed {
  background-color: white;
  position: unset !important;
  width: 100% !important;
  left: 0 !important;
  bottom: 0 !important;
  margin-top: 88px;
  
}
@media only screen and (max-width: 767px) {
  footer {
    padding: 0 !important;

    justify-content: center;
    align-items: center;
    width: 100% !important;
  }
  .helyez {
    padding-top: 13px !important;
  }
}
.kepek {
  border-radius: 100px !important;
  margin-top: -50px;
}
.reglogpanel {
  margin-top: 5px !important;
}
@media only screen and (min-width: 529px) {
  .hirdetes {
    min-height: 721px;
  }
}
::-webkit-scrollbar {
  width: 13px;
  background-color: rgba(255, 255, 255, 0.132);
}
::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 100vw;
  margin-block: 0.3em;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(0, 0, 0, 0.7);
  border-radius: 100vw;
}
.homepanelek{
  margin-top: -45px!important;
}
@media only screen and (max-width: 767px) {
  .kepek {
    height: 200px;
    width: 200px;
    margin-top: 20px!important;
  }
}
@media only screen and (max-width: 767px) {
  .cegkep {
    height: 300px;
    width: 300px;
  }
}
@media only screen and (max-width: 1200px) {
  .kategkartya {
    margin: 50px;
  }
  .igazit {
    margin-top: -50px!important;
  }
  .homepanelek{
    margin-bottom: 100px!important;
  }
}
.munka {
  text-transform: capitalize;
}
@media only screen and (max-width: 391px) {
  .formlog {
    width: 90%!important;
    height: 200%!important;
    margin-left: 5px!important;
  }
  .bejelentkezes {
    height: 40px !important;
    width: 300px !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (max-width: 321px) {
  .formlog {
    width: 90%!important;
    height: 200%!important;
    margin-left: 7px!important;
  }
  .bejelentkezes {
    height: 40px !important;
    width: 250px !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (max-width: 426px) {
  .formlog2 {
    width: 90%!important;
    height: 150%!important;
    margin-left: 5px!important;
    margin-bottom: 150px!important;
  }
  .reglogpanel{
    margin-top: 25px!important;
  }
}
.reglogpanel{
    margin-top: 20px!important;
  }

 .avatar{
  border-radius: 50px!important;
 } 