.titleh1,h6{
  font-family: 'Days One', sans-serif;
  color: white;
  font-size: 250%;
  text-align: left!important;
}
.lineUp {
  animation: 3s anim-lineUp ease-out;

  display: flex;
  flex-wrap:wrap;
  justify-content: center;
}
.title{
  margin-bottom: 50px;
}
h1{
  padding-top: 30px!important;
}
@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
video {
object-fit: cover;
width: 100%;
height: 100%;
position: fixed;
top: 0;
left: 0;
}
Form{
color: black;
background-color: white;
}
.reglogpanel{
  margin-top: 80px;
  display: flex;
  justify-content: center;
}
.bg{
  background-color: dodgerblue;
  margin-top: -5px!important;
}
.footerlogo{
  width: 30px!important;
  height: 30px!important;
  margin-right: 10px!important;
}
.panelek{
margin-top: 100px!important;
display:flex;
flex-wrap: wrap;
justify-content: space-around;
align-items: center;
padding:10px;
margin-bottom: 100px;
/*min-width: 1300px;!!!!!!!!!!!!!!!!!!!   */                         /*2soros=850px 1soros=900px*/
}

.panel{
  
background-color: #ffffff;
color: black;
cursor: pointer;
margin: 15px;
box-shadow: 0px 0px 10px 8px rgba(255, 255, 255, 0.2);
}
.datum{
  opacity: 75%;
  text-align: right;
}
.varosok{
  border-radius: 30px!important;
}
.ad{
  background-color: white;
  color: black;
  border-radius: 15px;
  max-width: 750px;
}
.hely{
  padding-right: 2px;
  padding-left: 2px;
}
.talalat{
  max-width: 150px;
  margin-right: 10px!important;
}
.hirdetoszoveg{
  text-align: justify;
}
.tartalom{
  max-width: 750px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 700px) {
  .loginregister{
    width: 60%;
    height: 40%;
    display: flex;
    justify-content: center;
  }
}
@media only screen and (max-width: 767px) {
  .col-md-4{
    width: 60%;
    height: 40%;
    display: flex;
    justify-content: center;
    margin: 10px;
  }
}
@media only screen and (min-width:767px){
  .end{
    display: flex;
    justify-content: end;
  }
}
@media only screen and (max-width:767px){
  footer{
    height: 122px;

  }
}

.kitoltes{
padding-bottom: 300px;
padding-right: 70px;
width: 270px;
}
.register{
background-image: url("../public/register.png");
background-size: cover;
}
.login{
background-image: url("../public/login.jpg");
background-size: cover;
}
footer{
  position: fixed;
left: 0;
bottom: 0;
width: 100%;
background-color: rgb(255, 255, 255);
color: rgb(0, 0, 0);
padding: 25px;
font-family: 'Days One', sans-serif;
font-size: 15px;
}
.logo{
max-width: 30px;
max-height: 30px;
}

.container{
  margin-top: 60px;
}
.fa-brands{
  margin-top: 15px;
  margin-right: 25px;
}

Form{
  max-width: 500px!important;
}
.bejelentkezes{
  height: 40px!important;
  width: 350px!important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.homekateg{
  color: white;
}
.aboutfooter{
  margin-bottom: 150px!important;
}
.nofixed{
  background-color: white;
  position:unset!important;
  width: 100%!important;
  left: 0!important;
  bottom: 0!important;
  margin-top: 88px;
}
@media only screen and (max-width:767px){
  footer{
    padding: 0!important;
   
    justify-content: center;
    align-items: center;
    width: 100%!important;

  }
  .helyez{
    padding-top: 13px !important;
  }
}
.reglogpanel{
  margin-top: 5px!important;
}
@media only screen and (min-width:529px){
  .hirdetes{
    min-height: 720px;

  }
}